@import "./_mixin.scss";

body {
    margin: 0;
    padding:0 0 100px 0;
    background: linear-gradient(#6ed85b, #1e750e,#1e620d);
}
.bandeau_haut {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#6ed85b, #1e750e,#1e620d);
    .logo {
        width: 80px;
        height: 80px;
        margin: 20px 20px 20px 20px;
    }
    .title {
        font-size: 2.5em;
        font-family: 'Permanent Marker', cursive;
        margin: 10px 20px 10px 20px;
        @include soulignement(lightgrey);
    }
    .accueil {
        font-size: 1.5em;
        font-family: 'Permanent Marker', cursive;
        margin: 10px 20px 10px 20px;
        @include soulignement(lightgrey);
    }
    .fas {
        font-size: 1.2em;
        margin: 10px 10px 10px 10px;
    }
}
.container{
    background-color: rgba(0, 0, 0, 0.253);
    width: 100%;
    .titre {
        font-family: 'Caveat', cursive;
        font-size: 2.5em;
    }
    .presentation {
        font-family: 'Caveat', cursive;
        font-size: 1.8em;
    }
}
.cartes, .articleChoisi, .commander, .panier-plein  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Caveat', cursive;
    padding: 0;
    .card{
        background: linear-gradient(#6ed85b, #1e750e,#1e620d);
        display : flex !important;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px 0 10px 0;
        border-radius:100px 0 100px 0;
        margin-top: 20px;
        margin-bottom: 20px;
        .commander{
            border-radius: 30px 30px 30px 30px;
            background-color: #6ed85b;
            padding: 10px 10px 10px 10px;
            font-size: 1.5em;
        }
        .commander:hover{
            background-color:gold;
            text-decoration: none;
        }
    }
}
.accueil-prev{
    display : flex;
    justify-content: center;
    align-items: center;
    .add-cart {
        border-radius : 30px 0 30px 0;
    }
    
}
.votre-panier{
    font-family: 'Permanent Marker', cursive;
    color: lightgrey;
    font-size: 2.5em;
}
.prix-total {
    font-family : 'caveat', cursive;
    font-size : 1.5em;
    color: lightgrey;
    font-weight: bold;
    border: 2px solid lightgrey;
    box-shadow: 5px 5px gold;
    margin: 10px;
    padding: 10px;
}
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .panier-plein{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .panier-vide {
        font-size: 2em;
        font-family: "caveat", cursive;
        color: lightgrey;
        text-decoration: none;
        a:hover{
            color:green;
            text-decoration: none;
        }
    }
}
#formulaire {
    color: lightgrey;
    font-family: 'caveat', cursive;
    font-size: 1.5em;
    padding: 20px 20px 20px 40px;
    .form-group{
        justify-content: space-between;
    }
    label{
        width: 120px;
    }
}
.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#6ed85b, #1e750e,#1e620d);
    .wiggle {
        font-family: 'Caveat', cursive;
        font-size: 1.8em;
        @include shake;
    }
}
input:valid {
    color: green;
    border: 3px green solid;
}

input:invalid {
    color: red;
    border: 3px red solid;
}